.wrapper
{
    width: 100vw;
    height: 100vh;
    background-color:#ffafcc;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 40px; */
    
    
}
.accordian{
    background-color: white;
    
    margin-bottom: 40px;
    padding: 4px 16px;
    border-radius: 4px;
    cursor: pointer;
  

}



.question
{
    display: flex;
    justify-content: space-between;
    /* align-items: self-end; */
    align-items: center;

}

.answer
{
    max-height: 0; 
     overflow: hidden;
transition: max-height 0.3s;
}
.answer.active{
/* max-height: fit-content;
 */
 max-height: 200px;

}
.icon
{
    margin-right: 16px;
    transition: transform 0.3s;
}

.icon.active{
transform: rotate(-180deg);

}